<%= form_with model: @product do |form| %>
  <div class="flex space-between">

    <div>
      <%= form.text_area :name %>
      <%=form.label :name%>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.rich_text_area :description %>
    </div>

    <div>
      <%= form.label :featured_image, style: "display: block" %>
      <%= form.file_field :featured_image, accept: "image/*" %>
    </div>
    
    <div>
      <%= form.submit "Submit Product" %>
    </div>
    
  </div>
<% end %>