<% cache @product do %>
  <h1><%= @product.name %></h1>

  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <%= @product.description %>
<% end %>

<div>
  <%= render "inventory", product: @product %>

  <% if authenticated? %>
    <div class="flex justify-between bg-red-200">
      <%= button_to "Back", products_path(@product), method: :get %>

      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this product?" }, class: "bg-red-500 text-white" %>

      <%= button_to "Edit", edit_product_path(@product), method: :get, class: "bg-blue-500 text-white" %>
    </div>
  <% end %>
</div>
